*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
#icon{
    font-size: 30px;
    cursor: pointer;
}

.nav-link{
    font-size: 22px;
}

#header1, #header2, #header3{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
    opacity: 0.5;
}

.title{
    font-size: 80px;
}

.feltro-section{
    max-width: 200px;
}

@media (max-width: 583px) {
    .title{
        font-size: 40px;
    } 
}
